<h1>What shall we put in our <%= @cocktail.name %>?</h1>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all.order(:name)%>

  <%= f.submit "Add dose", class: "btn btn-primary" %>
<% end %>
